<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>{notempty name="title"}{$title} - {/notempty}{$blog_config['title']}</title>
    <link rel="stylesheet" href="__JS__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <script src="__JS__/layui/layui.js"></script>
</head>
<body class="body-boxed">
<header class="header">
    <div class="layui-container">
        <a href="/"><div class="logo">
            <img class="logo-img" src="__IMG__/logo.png" alt=""/>
            <div class="logo-title">{$blog_config['title']}</div>
        </div></a>
        <div class="menu-block">
            <div class="navbar-toggle" lay-on="menu-offset">
                <span class="icon-bar icon-bar-1"></span>
                <span class="icon-bar icon-bar-2"></span>
                <span class="icon-bar icon-bar-3"></span>
            </div>
            <ul class="layui-nav layui-bg-gray menu-list">
                <li class="layui-nav-item {if $active == 'index'}layui-this{/if}">
                    <a href="/">首页</a>
                </li>
                {if !empty($blog_menu[1])}
                <li class="layui-nav-item dropdown">
                    <a href="javascript:;">工作</a>
                    <dl class="layui-nav-child">
                        {foreach $blog_menu[1] as $k => $vo }
                        <dd class="{if $active == 'category' . $vo['id']}layui-this{/if}">
                            <a href="/category/{$vo.id}">{$vo.name}</a>
                        </dd>
                        {/foreach}
                    </dl>
                </li>
                {/if}
                {if !empty($blog_menu[2])}
                <li class="layui-nav-item dropdown">
                    <a href="javascript:;">学习</a>
                    <dl class="layui-nav-child">
                        {foreach $blog_menu[2] as $k => $vo }
                        <dd class="{if $active == 'category' . $vo['id']}layui-this{/if}">
                            <a href="/category/{$vo.id}">{$vo.name}</a>
                        </dd>
                        {/foreach}
                    </dl>
                </li>
                {/if}
                {if !empty($blog_menu[3])}
                <li class="layui-nav-item dropdown">
                    <a href="javascript:;">生活</a>
                    <dl class="layui-nav-child">
                        {foreach $blog_menu[3] as $k => $vo }
                        <dd class="{if $active == 'category' . $vo['id']}layui-this{/if}">
                            <a href="/category/{$vo.id}">{$vo.name}</a>
                        </dd>
                        {/foreach}
                    </dl>
                </li>
                {/if}
                <li class="layui-nav-item {if $active == 'special'}layui-this{/if}">
                    <a href="/special">专题列表</a>
                </li>
                <li class="layui-nav-item {if $active == 'tags'}layui-this{/if}">
                    <a href="/tags">标签归档</a>
                </li>
                <li class="layui-nav-item {if $active == 'guest'}layui-this{/if}">
                    <a href="/guest">留言板</a>
                </li>
                {if empty($blog_user)}
                <li class="layui-nav-item myself-login" lay-unselect>
                    <a href="/common/login">登录</a>
                </li>
                <li class="layui-nav-item myself-action" lay-unselect>
                    <a href="/common/register">注册</a>
                </li>
                {else /}
                <li class="layui-nav-item myself-message" lay-unselect>
                    <a class="username" href="/user/{$blog_user['id']}">{$blog_user['nickname']}</a>
                </li>
                <li class="layui-nav-item myself-action" lay-unselect>
                    <a href="javascript:;">
                        <img src="{$blog_user['avatar']}" class="layui-nav-img">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/user/{$blog_user['id']}">个人中心</a></dd>
                        <dd><a href="/account">账号设置</a></dd>
                        <dd><a href="/draft">我要投稿</a></dd>
                        <hr>
                        <dd><a href="/common/logout">退出登录</a></dd>
                    </dl>
                </li>
                {/if}
            </ul>
        </div>
    </div>
</header>
<div class="body">
    {block name="body"}{/block}
    <div id="message-modal" class="modal-message" style="display: none;">
        <div class="modal-body">
            <div class="modal-message-list"></div>
            <div class="modal-message-editor modal-editor-withbar">
                <textarea id="message-text" class="modal-message-text j-message-text"></textarea>
                <div class="modal-message-send">按 Enter 键发送
                    <button id="message-send" type="button" data-id=""
                            class="layui-btn btn-primary btn-message od-green-button">
                        发送
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="layui-container">
        <div class="footer-col-wrap footer-with-logo-icon">
            <div class="footer-col footer-col-copy">
                <ul class="footer-nav hidden-xs">
                    <li id="menu-item-157" class="menu-item menu-item-157"><a
                        href="/index/special">专题列表</a></li>
                    <li id="menu-item-129" class="menu-item menu-item-129"><a
                        href="/index/tags">标签归档</a></li>
                    <li id="menu-item-4252" class="menu-item menu-item-4252"><a
                        href="/guest">留言板</a></li>
                </ul>
                <div class="copyright">
                    <p>
                        {$blog_config['copyright']}
                        <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow noopener noreferrer">
                            {$blog_config['icp']}
                        </a> {$blog_config['powered']}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="navbar-collapse">
    <div class="search-bar search-bar-wrap">
        <div class="layui-input-wrap">
            <input id="searchInputDrawer" type="text" placeholder="输入关键词搜索..." class="layui-input">
            <div id="searchBtnDrawer" class="layui-input-suffix">
                <i class="layui-icon layui-icon-search"></i>
            </div>
        </div>
    </div>
    <ul class="layui-nav layui-bg-gray layui-nav-tree">
        <li class="layui-nav-item  {if $active == 'index'}layui-this{/if}">
            <a href="/">首页</a>
        </li>
        {if !empty($blog_menu[1])}
        <li class="layui-nav-item dropdown">
            <a href="javascript:;">工作</a>
            <dl class="layui-nav-child">
                {foreach $blog_menu[1] as $k => $vo }
                <dd class="{if $active == 'category' . $vo['id']}layui-this{/if}">
                    <a href="/category/{$vo.id}">{$vo.name}</a>
                </dd>
                {/foreach}
            </dl>
        </li>
        {/if}
        {if !empty($blog_menu[2])}
        <li class="layui-nav-item dropdown">
            <a href="javascript:;">学习</a>
            <dl class="layui-nav-child">
                {foreach $blog_menu[2] as $k => $vo }
                <dd class="{if $active == 'category' . $vo['id']}layui-this{/if}">
                    <a href="/category/{$vo.id}">{$vo.name}</a>
                </dd>
                {/foreach}
            </dl>
        </li>
        {/if}
        {if !empty($blog_menu[3])}
        <li class="layui-nav-item dropdown">
            <a href="javascript:;">生活</a>
            <dl class="layui-nav-child">
                {foreach $blog_menu[3] as $k => $vo }
                <dd class="{if $active == 'category' . $vo['id']}layui-this{/if}">
                    <a href="/category/{$vo.id}">{$vo.name}</a>
                </dd>
                {/foreach}
            </dl>
        </li>
        {/if}
        <li class="layui-nav-item {if $active == 'special'}layui-this{/if}">
            <a href="/special">专题列表</a>
        </li>
        <li class="layui-nav-item {if $active == 'tags'}layui-this{/if}">
            <a href="/tags">标签归档</a>
        </li>
        <li class="layui-nav-item {if $active == 'guest'}layui-this{/if}">
            <a href="/guest">留言板</a>
        </li>
        {if empty($blog_user)}
        <li class="layui-nav-item">
            <a href="/common/login">登录</a>
            <a href="/common/register">注册</a>
        </li>
        {else /}
        <li class="layui-nav-item">
            <a class="username" href="/user/{$blog_user['id']}">{$blog_user['nickname']}</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="{$blog_user['avatar']}" class="layui-nav-img">
            </a>
            <dl class="layui-nav-child">
                <dd><a href="/user/{$blog_user['id']}">个人中心</a></dd>
                <dd><a href="/account">账号设置</a></dd>
                <dd><a href="/draft">我要投稿</a></dd>
                <hr>
                <dd><a href="/common/logout">退出登录</a></dd>
            </dl>
        </li>
        {/if}
    </ul>
</div>
<script>
    layui.use(['layer', 'util'], function () {
        var layer = layui.layer;
        var util = layui.util;
        var $ = layui.$;
        let uid = '{$blog_user["id"]|default=""}';
        let avatar = '{$blog_user["avatar"]|default=""}';

        $('#message-text').bind('keypress', function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                $("#message-send").click();
            }
        });

        $('#message-send').on('click', function () {
            let val = $('#message-text').val();
            let id = $('#send-id').val();
            if (val !== '') {
                $.ajax({
                    url: '/user/doMessage/',
                    type: 'post',
                    data: {
                        id: id,
                        message: val
                    },
                    success: function (res) {
                        $('#message-text').val('');
                        if (res.code === 200) {
                            let item = res.data;
                            let html = `
                                <div class="modal-message-item message-sender" data-id="${item.id}">
                                    <div class="modal-message-time">${item.created_at}</div>
                                    <div class="modal-message-inner">
                                        <div class="modal-message-status"></div>
                                        <div class="modal-message-content"><div class="message-text">${item.message}</div></div>
                                        <div class="modal-message-avatar">
                                            <img src="${avatar}">
                                        </div>
                                    </div>
                                </div>`;
                            let obj = $('#message-modal .modal-message-list');
                            obj.append(html);
                            obj[0].scrollTop = obj[0].scrollHeight;
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 1000});
                        }
                    }
                });
            }
        });

        util.fixbar({
            top: true,
            css: {
                right: 20,
                bottom: 30,
                borderRadius: '5px',
                overflow: 'hidden',
                height: '40px'
            },
            bgcolor: '#16b777',
            click: function (type) {
            }
        });

        util.on('lay-on', {
            'menu-offset': function () {
                layer.open({
                    type: 1,
                    title: '&nbsp;',
                    skin: 'layer-direction-left',
                    offset: 'l',
                    anim: 'slideRight',
                    area: ['300px', '100%'],
                    shade: 0.5,
                    shadeClose: true,
                    move: false,
                    id: 'layer-direction-left',
                    content: $('#navbar-collapse')
                });
            },
            'message': function () {
                if (uid) {
                    let id = $(this).data('id').toString();
                    if (uid === id) {
                        layer.msg('无法给自己发送私信', {icon: 2, time: 1000});
                        return false;
                    }
                    // 获取私信数据
                    $.ajax({
                        url: '/message/' + id,
                        type: 'get',
                        data: {},
                        success: function (res) {
                            if (res.data.message.length) {
                                let html = `<input id="send-id" type="hidden" value="${res.data.user.id}">`;
                                res.data.message.forEach(function (item) {
                                    if (item.from_user_id.toString() === uid) {
                                        html += `
                                            <div class="modal-message-item message-sender" data-id="${item.id}">
                                                <div class="modal-message-time">${item.created_at}</div>
                                                <div class="modal-message-inner">
                                                    <div class="modal-message-status"></div>
                                                    <div class="modal-message-content"><div class="message-text">${item.message}</div></div>
                                                    <div class="modal-message-avatar">
                                                        <img src="${avatar}">
                                                    </div>
                                                </div>
                                            </div>`;
                                    } else {
                                        html += `
                                            <div class="modal-message-item" data-id="${item.id}">
                                                <div class="modal-message-time">${item.created_at}</div>
                                                <div class="modal-message-inner">
                                                    <div class="modal-message-avatar">
                                                        <img src="${res.data.user.avatar}">
                                                    </div>
                                                    <div class="modal-message-content"><div class="message-text">${item.message}</div></div>
                                                    <div class="modal-message-status"></div>
                                                </div>
                                            </div>`;
                                    }
                                });
                                $('#message-modal .modal-message-list').html(html);
                            }
                            layer.open({
                                type: 1,
                                anim: 0,
                                shade: 0.5,
                                resize: false,
                                scrollbar: false,
                                title: res.data.user.nickname,
                                skin: 'message-modal-dialog',
                                content: $('#message-modal'),
                                success: function (layero, index, that) {
                                    let obj = $('#message-modal .modal-message-list');
                                    obj[0].scrollTop = obj[0].scrollHeight;
                                },
                                end: function () {
                                    $('#message-modal .modal-message-list').html('');
                                }
                            });
                        }
                    });
                } else {
                    needLogin();
                }
            },
        });
    });

    layui.use([], function () {
        let $ = layui.jquery;

        $('#searchInputDrawer').bind('keypress', function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                $("#searchBtnDrawer").click();
            }
        });

        $('#searchBtnDrawer').on('click', function () {
            let val = $('#searchInputDrawer').val();
            if (val !== '') {
                location.href = '/search?s=' + val;
            }
        });

    });

    function needLogin() {
        layui.use(['layer'], function (layer) {
            layer.open({
                type: 1,
                shade: 0.6,
                shadeClose: true,
                skin: 'need-login-dialog',
                title: '请登录',
                area: ['400px', 'auto'],
                maxWidth: 500,
                maxHeight: 200,
                content: '<div style="padding:0 20px;margin: 10px 0;">您还未登录，请登录后再进行相关操作！</div>',
                btn: ['登录', '注册'],
                btn1: function (index, layero, that) {
                    location.href = '/common/login';
                    return false;
                },
                btn2: function (index, layero, that) {
                    location.href = '/common/register';
                    return false;
                },
            });
        })
    }

    function replaceEmoticons(text) {
        const emoticonRegex = /\[(微笑|咧嘴笑|大笑|偷笑|调皮|笑哭|嘿嘿|可爱|瞪眼|亲亲|色|酷|翻白眼|汗|大哭|困|难过|生气|庆祝|赞|礼物|爱心|喝彩|花|)\]/g;
        const replacer = (match, p1) => {
            switch (p1) {
                case '微笑': return '<img src="/static/img/smilies/weixiao.svg" alt="[微笑]" class="emoji">';
                case '咧嘴笑': return '<img src="/static/img/smilies/liezuixiao.svg" alt="[咧嘴笑]" class="emoji">';
                case '大笑': return '<img src="/static/img/smilies/daxiao.svg" alt="[大笑]" class="emoji">';
                case '偷笑': return '<img src="/static/img/smilies/touxiao.svg" alt="[偷笑]" class="emoji">';
                case '调皮': return '<img src="/static/img/smilies/tiaopi.svg" alt="[调皮]" class="emoji">';
                case '笑哭': return '<img src="/static/img/smilies/xiaoku.svg" alt="[笑哭]" class="emoji">';
                case '嘿嘿': return '<img src="/static/img/smilies/heihei.svg" alt="[嘿嘿]" class="emoji">';
                case '可爱': return '<img src="/static/img/smilies/keai.svg" alt="[可爱]" class="emoji">';
                case '瞪眼': return '<img src="/static/img/smilies/dengyan.svg" alt="[瞪眼]" class="emoji">';
                case '亲亲': return '<img src="/static/img/smilies/qinqin.svg" alt="[亲亲]" class="emoji">';
                case '色': return '<img src="/static/img/smilies/se.svg" alt="[色]" class="emoji">';
                case '酷': return '<img src="/static/img/smilies/ku.svg" alt="[酷]" class="emoji">';
                case '翻白眼': return '<img src="/static/img/smilies/fanbaiyan.svg" alt="[翻白眼]" class="emoji">';
                case '汗': return '<img src="/static/img/smilies/han.svg" alt="[汗]" class="emoji">';
                case '大哭': return '<img src="/static/img/smilies/daku.svg" alt="[大哭]" class="emoji">';
                case '困': return '<img src="/static/img/smilies/kun.svg" alt="[困]" class="emoji">';
                case '难过': return '<img src="/static/img/smilies/nanguo.svg" alt="[难过]" class="emoji">';
                case '生气': return '<img src="/static/img/smilies/shengqi.svg" alt="[生气]" class="emoji">';
                case '庆祝': return '<img src="/static/img/smilies/qingzhu.svg" alt="[庆祝]" class="emoji">';
                case '赞': return '<img src="/static/img/smilies/zan.svg" alt="[赞]" class="emoji">';
                case '礼物': return '<img src="/static/img/smilies/liwu.svg" alt="[礼物]" class="emoji">';
                case '爱心': return '<img src="/static/img/smilies/aixin.svg" alt="[爱心]" class="emoji">';
                case '喝彩': return '<img src="/static/img/smilies/hecai.svg" alt="[喝彩]" class="emoji">';
                case '花': return '<img src="/static/img/smilies/hua.svg" alt="[花]" class="emoji">';
                default: return match;
            }
        };
        return text.replace(emoticonRegex, replacer);
    }
</script>
{block name="script"}{/block}
</body>
</html>
