{extend name="base" /}

{block name="body"}
<div class="body">
    <div class="layui-container">
        <form class="post-form layui-form" id="j-form">
            <div class="post-form-main">
                <div class="pf-side-label">
                    <h3><i class="layui-icon layui-icon-file-b wi"></i> 文章内容</h3>
                </div>
                <div class="pf-item">
                    <div class="pf-item-input">
                        <input type="text" class="layui-input" maxlength="100"
                               id="post-title" name="title" lay-verify="required" lay-reqtext="请输入文章标题"
                               placeholder="请输入文章标题" value="" autocomplete="off">
                    </div>
                </div>
                <div class="pf-item">
                    <div class="pf-item-input">
                        <textarea id="post-summary" name="summary" class="layui-textarea" rows="3"
                                  placeholder="请输入文章摘要，可选填" maxlength="255"></textarea>
                    </div>
                </div>
                <div class="pf-item">
                    <div class="pf-item-input">
                        <div id="post-content-wrap">
                            <textarea class="layui-textarea" rows="20" autocomplete="off" cols="40" name="content"
                                      id="post-content" aria-hidden="true"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-form-sidebar">
                <div class="pf-submit-wrap">
                    <button type="submit" class="layui-btn layui-btn-fluid pf-submit od-green-button" lay-submit
                            lay-filter="draft">提交发布
                    </button>
                </div>
                <div class="pf-side-item">
                    <div class="pf-side-label">
                        <h3><i class="layui-icon layui-icon-app wi"></i>分类</h3>
                    </div>
                    <div class="pf-side-input">
                        <div class="pf-cat-inner">
                            <select id="post-category" name="category_id"
                                    lay-verify="required" lay-reqtext="请选择文章分类">
                                <option value="">请选择文章分类</option>
                                {foreach $blog_menu as $key => $vo }
                                <optgroup label="{$cate[$key]}">
                                    {foreach $vo as $v}
                                    <option value="{$v['id']}">{$v['name']}</option>
                                    {/foreach}
                                </optgroup>
                                {/foreach}
                            </select>
                        </div>
                        <p class="pf-notice">分类至少选择1个</p>
                    </div>
                </div>
                <div class="pf-side-item">
                    <div class="pf-side-label">
                        <h3><i class="layui-icon layui-icon-note wi"></i>标签</h3>
                    </div>
                    <div class="pf-side-input">
                        <div class="tagHandler">
                            <input id="post-tag" type="text" class="layui-input" name="tag" maxlength="255"
                                   placeholder="请输入文章标签" autocomplete="off">
                        </div>
                        <p class="pf-notice">使用空格或逗号隔开，可选填，上限5个</p>
                    </div>
                </div>
                <div class="pf-side-item">
                    <div class="pf-side-label">
                        <h3><i class="layui-icon layui-icon-picture wi"></i>缩略图</h3>
                    </div>
                    <div class="pf-side-input">
                        <div class="layui-upload-drag thumb-wrap" style="display: block;" id="upload-drag">
                            <i class="layui-icon layui-icon-upload-drag"></i>
                            <div>设置缩略图片</div>
                            <div class="layui-hide" id="upload-preview">
                                <hr>
                                <img src="" alt="上传成功后渲染" style="max-width: 100%">
                                <div id="clear-image" class="thumb-remove j-thumb-remove"></div>
                            </div>
                        </div>
                        <p class="pf-notice">缩略图会显示在文章列表，建议设置</p>
                    </div>
                    <input type="hidden" name="thumbnail" id="post-thumbnail" value="">
                </div>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<script>
    layui.config({
        base: '__JS__/layui_exts/'
    }).use(['layer', 'tinymce', 'upload', 'form'], function () {
        var upload = layui.upload;
        var layer = layui.layer;
        var form = layui.form;
        var t = layui.tinymce;
        var $ = layui.$;

        $('#clear-image').on('click', function () {
            $('#upload-preview').addClass('layui-hide')
            .find('img').attr('src', '');
            $('#post-thumbnail').val('');
            return false;
        });

        // 图片上传
        upload.render({
            elem: '#upload-drag',
            url: '/account/thumb',
            size: 2048,
            done: function (res) {
                if (res.code === 200) {
                    $('#upload-preview').removeClass('layui-hide')
                    .find('img').attr('src', res.data.url);
                    $('#post-thumbnail').val(res.data.url);
                } else {
                    layer.msg(res.msg);
                }
            },
            error: function () {
                layer.msg('上传失败');
            }
        });

        // 富文本编辑器
        var edit = t.render({
            elem: "#post-content",
            height: 400,
            convert_urls: false,
            images_upload_url: '/account/figure',
            form: {
                name: 'file', //配置上传文件的字段名称
                data: {key: 'value'} //其他需要一起上传的数据
            }
            // 其余配置可参考官方文档
        }, function (opt, edit) {
            //加载完成后回调
        });

        form.on('submit(draft)', function (data) {
            let content = edit.getContent();
            if (content === '') {
                layer.msg('请输入文章内容', {icon: 2, time: 1000, anim: 6});
                return false;
            }
            data.field.content = content;
            layer.load();
            $.ajax({
                url: '/account/doDraft',
                type: 'post',
                data: data.field,
                success: function (res) {
                    layer.closeAll('loading');
                    if (res.code === 200) {
                        layer.msg('投稿成功', {icon: 1, time: 500}, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 1000});
                    }
                }
            });
            return false;
        });

    });
</script>
{/block}
