{extend name="base" /}

{block name="body"}
<div class="body">
    <div class="layui-container">
        <div class="member-account">
            <article id="post-18" class="post-18 page type-page status-publish hentry entry">
                <div class="entry-main">
                    <div class="entry-content">
                        <div class="member-account-wrap">
                            <div class="member-account-nav">
                                <div class="member-account-user">
                                    <div class="member-account-avatar">
                                        <img id="user-avatar" alt="{$user['nickname']}的头像" src="{$user['avatar']}"
                                             class="avatar avatar-200 photo j-lazy" height="200" width="200"
                                             img-loaded="true">
                                        <span id="setting-avatar" class="edit-avatar" data-id="{$user['id']}">
                                            <i class="layui-icon layui-icon-camera"></i>
                                        </span>
                                    </div>
                                    <h3 class="member-account-name">
                                        <a href="/user/{$user['id']}" target="_blank">
                                            {$user['nickname']}
                                        </a>
                                    </h3>
                                    <div class="member-account-dio">{$user['desc']}</div>
                                    <a class="layui-btn layui-btn-fluid od-green-button member-account-tg"
                                       href="/draft">
                                        <i class="layui-icon layui-icon-edit"></i>投稿
                                    </a>
                                </div>
                                <ul class="member-account-menu">
                                    <li class="member-nav-general active">
                                        <a href="/account">
                                            <i class="layui-icon layui-icon-username"></i>基本资料
                                        </a>
                                    </li>
                                    <li class="member-nav-messages">
                                        <a href="/account/message">
                                            <i class="layui-icon layui-icon-email"></i>我的私信
                                        </a>
                                    </li>
                                    <li class="member-nav-notifications">
                                        <a href="/account/notice">
                                            <i class="layui-icon layui-icon-speaker"></i>系统通知
                                        </a>
                                    </li>
                                    <li class="member-nav-password">
                                        <a href="/account/reset">
                                            <i class="layui-icon layui-icon-password"></i>修改密码
                                        </a>
                                    </li>
                                    <li class="member-nav-logout">
                                        <a href="/common/logout">
                                            <i class="layui-icon layui-icon-logout"></i>退出登录
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="member-account-content">
                                <h2 class="member-account-title">换绑邮箱</h2>
                                <form class="j-member-form member-account-form layui-form">
                                    <div class="member-account-item item-user_email"><label
                                        class="member-account-label">电子邮箱</label>
                                        <div class="member-account-input">
                                            <input id="login-email" class="layui-input is-input" type="text"
                                                   lay-verify="required|email" placeholder="请输入电子邮箱"
                                                   autocomplete="off" name="email" value="">
                                        </div>
                                    </div>
                                    <div class="member-account-item sms-code">
                                        <label class="member-account-label">图形验证码</label>
                                        <div class="member-account-input">
                                            <input id="bind-vercode" type="text" name="vercode" id="email-vercode"
                                                   lay-verify="required|number|min4"
                                                   placeholder="请输入图形验证码" class="layui-input" maxlength="4">
                                            <div class="code-box">
                                                <img class="codeImage" alt="" src=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="member-account-item sms-code">
                                        <label class="member-account-label">邮箱验证码</label>
                                        <div class="member-account-input">
                                            <input type="text" class="layui-input is-input sms-code-input"
                                                   id="sms_code" autocomplete="off" lay-verify="required|number|min6"
                                                   name="email_code" placeholder="请输入邮箱验证码" maxlength="6">
                                            <div class="layui-btn btn-lg send-sms-code j-send-sms-code od-green-button"
                                                 lay-on="get-email-code">发送验证码
                                            </div>
                                        </div>
                                    </div>
                                    <div class="member-account-item">
                                        <label class="member-account-label">账号密码</label>
                                        <div class="member-account-input">
                                            <input class="layui-input is-input" type="password" lay-verify="required"
                                                   name="password" value="" placeholder="请输入账号密码">
                                        </div>
                                    </div>
                                    <div class="member-account-item">
                                        <label class="member-account-label"></label>
                                        <button class="layui-btn od-green-button" type="submit" lay-submit
                                                lay-filter="bind-email">保存设置
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    layui.use(['layer', 'upload', 'form', 'util'], function () {
        var layer = layui.layer;
        var upload = layui.upload;
        var util = layui.util;
        var form = layui.form;
        var $ = layui.$;
        img = $('.codeImage');

        // 验证码
        function switchCaptcha() {
            img.attr("src", "/common/captcha/bind?v=" + new Date().getTime());
        }

        img.on('click', function () {
            switchCaptcha();
        });
        switchCaptcha();

        util.on('lay-on', {
            // 获取邮箱验证码
            'get-email-code': function (obj) {
                let is_valid = form.validate('#login-email') && form.validate('#bind-vercode');
                if (is_valid) {
                    layer.load();
                    $.ajax({
                        url: '/account/doEmailCode',
                        type: 'post',
                        data: {
                            email: $('#login-email').val(),
                            vercode: $('#bind-vercode').val(),
                        },
                        success: function (res) {
                            layer.closeAll('loading');
                            if (res.code === 200) {
                                layer.msg(res.msg, {icon: 1, time: 1000});
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 1000})
                                switchCaptcha();
                                $('#bind-vercode').val('').focus();
                            }
                        }
                    });
                }
            }
        });

        form.verify({
            min4: function(value, elem) {
                if (value.length < 4) {
                    return '不能小于 4 个字符';
                }
            },
            min6: function(value, elem) {
                if (value.length < 6) {
                    return '不能小于 6 个字符';
                }
            },
        });

        form.on('submit(bind-email)', function (data) {
            layer.load();
            $.ajax({
                url: '/account/doEmail',
                type: 'post',
                data: data.field,
                success: function (res) {
                    layer.closeAll('loading');
                    if (res.code === 200) {
                        layer.msg('保存成功', {icon: 1, time: 500}, function () {
                            location.href = '/account';
                        });
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 1000});
                    }
                }
            });
            return false;
        });

        upload.render({
            elem: '#setting-avatar',
            url: '/account/avatar',
            size: 2048,
            done: function (res) {
                if (res.code === 200) {
                    $('#user-avatar').attr('src', res.data.url);
                } else {
                    layer.msg(res.msg);
                }
            },
            error: function () {
                layer.msg('上传失败');
            }
        });
    });
</script>
{/block}
