{extend name="base" /}

{block name="body"}
<div class="body">
    <div class="layui-container">
        <div class="member-account">
            <article id="post-18" class="post-18 page type-page status-publish hentry entry">
                <div class="entry-main">
                    <div class="entry-content">
                        <div class="member-account-wrap">
                            <div class="member-account-nav">
                                <div class="member-account-user">
                                    <div class="member-account-avatar">
                                        <noscript>
                                            <img alt='OpenDark的头像'
                                                 src='/avatar/0.jpg'
                                                 class='avatar avatar-200 photo' height='200' width='200'/>
                                        </noscript>
                                        <img alt="OpenDark的头像"
                                             src="/avatar/0.jpg"
                                             data-original="/avatar/0.jpg"
                                             class="avatar avatar-200 photo j-lazy" height="200" width="200"
                                             img-loaded="true">
                                        <span class="edit-avatar" data-user="33466">
                                            <i class="layui-icon layui-icon-camera"></i>
                                        </span>
                                        <input type="hidden" id="wpcom_cropper_nonce" name="wpcom_cropper_nonce"
                                               value="65f5d3b343"></div>
                                    <h3 class="member-account-name">
                                        <a href="/index/user" target="_blank">
                                            OpenDark </a>
                                    </h3>
                                    <div class="member-account-dio">Enjoy coding, enjoy life!</div>
                                    <a class="layui-btn layui-btn-fluid od-green-button member-account-tg"
                                       href="/draft">
                                        <i class="layui-icon layui-icon-edit"></i>投稿
                                    </a>
                                </div>
                                <ul class="member-account-menu">
                                    <li class="member-nav-general">
                                        <a href="/account">
                                            <i class="layui-icon layui-icon-username"></i>基本资料 </a>
                                    </li>
                                    <li class="member-nav-messages active">
                                        <a href="/account/message">
                                            <i class="layui-icon layui-icon-email"></i>我的私信 </a>
                                    </li>
                                    <li class="member-nav-notifications">
                                        <a href="/account/notice">
                                            <i class="layui-icon layui-icon-speaker"></i>系统通知 </a>
                                    </li>
                                    <!--                                    <li class="member-nav-bind">-->
                                    <!--                                        <a href="https://demo.wpcom.cn/justnews/account/bind">-->
                                    <!--                                            <i class="layui-icon layui-icon-vercode"></i>账号绑定 </a>-->
                                    <!--                                    </li>-->
                                    <li class="member-nav-password">
                                        <a href="/index/reset">
                                            <i class="layui-icon layui-icon-password"></i>修改密码 </a>
                                    </li>
                                    <li class="member-nav-logout">
                                        <a href="/common/logout">
                                            <i class="layui-icon layui-icon-logout"></i>退出登录 </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="member-account-content">
                                <h2 class="member-account-title">我的私信</h2>
                                <ul class="notify-list od-accordion panel-group collapse in"
                                    aria-expanded="true" style="">
                                    <li class="member-account-empty notify-empty">
                                        <noscript>
                                            <img alt='OpenDark的头像'
                                                 src='/avatar/0.jpg'
                                                 class='avatar avatar-200 photo' height='200' width='200'/>
                                        </noscript>
                                        <img decoding="async" class="empty-icon j-lazy"
                                             src="/static/img/empty/empty-message.svg">暂无私信
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{/block}

{block name="script"}

{/block}
