{extend name="base" /}

{block name="body"}
<div class="body">
    <div class="layui-container">
        <div class="member-account">
            <article id="post-18" class="post-18 page type-page status-publish hentry entry">
                <div class="entry-main">
                    <div class="entry-content">
                        <div class="member-account-wrap">
                            <div class="member-account-nav">
                                <div class="member-account-user">
                                    <div class="member-account-avatar">
                                        <img id="user-avatar" alt="{$user['nickname']}的头像" src="{$user['avatar']}"
                                             class="avatar avatar-200 photo j-lazy" height="200" width="200"
                                             img-loaded="true">
                                        <span id="setting-avatar" class="edit-avatar" data-id="{$user['id']}">
                                            <i class="layui-icon layui-icon-camera"></i>
                                        </span>
                                    </div>
                                    <h3 class="member-account-name">
                                        <a href="/user/{$user['id']}" target="_blank">
                                            {$user['nickname']}
                                        </a>
                                    </h3>
                                    <div class="member-account-dio">{$user['desc']}</div>
                                    <a class="layui-btn layui-btn-fluid od-green-button member-account-tg"
                                       href="/draft">
                                        <i class="layui-icon layui-icon-edit"></i>投稿
                                    </a>
                                </div>
                                <ul class="member-account-menu">
                                    <li class="member-nav-general">
                                        <a href="/account">
                                            <i class="layui-icon layui-icon-username"></i>基本资料
                                        </a>
                                    </li>
                                    <li class="member-nav-messages">
                                        <a href="/account/message">
                                            <i class="layui-icon layui-icon-email"></i>我的私信
                                        </a>
                                    </li>
                                    <li class="member-nav-notifications">
                                        <a href="/account/notice">
                                            <i class="layui-icon layui-icon-speaker"></i>系统通知
                                        </a>
                                    </li>
                                    <li class="member-nav-password active">
                                        <a>
                                            <i class="layui-icon layui-icon-password"></i>修改密码
                                        </a>
                                    </li>
                                    <li class="member-nav-logout">
                                        <a href="/common/logout">
                                            <i class="layui-icon layui-icon-logout"></i>退出登录
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="member-account-content">
                                <h2 class="member-account-title">修改密码</h2>
                                <form class="member-account-form layui-form">
                                    <div class="member-account-item">
                                        <label class="member-account-label">原密码</label>
                                        <div class="member-account-input">
                                            <input class="layui-input is-input" type="password" lay-verify="required"
                                                   name="oldpass" value="" placeholder="请输入原密码">
                                        </div>
                                    </div>
                                    <div class="member-account-item">
                                        <label class="member-account-label">确认新密码</label>
                                        <div class="member-account-input">
                                            <input class="layui-input is-input" type="password" lay-verify="required"
                                                   name="password" value="" placeholder="请输入新密码">
                                            <div class="member-account-desc">密码长度为6～16位，不能有中文或空白字符</div>
                                        </div>
                                    </div>
                                    <div class="member-account-item">
                                        <label class="member-account-label">确认新密码</label>
                                        <div class="member-account-input">
                                            <input class="layui-input is-input" type="password" lay-verify="required"
                                                   name="repass" value="" placeholder="请再次输入新密码">
                                        </div>
                                    </div>
                                    <div class="member-account-item">
                                        <label class="member-account-label"></label>
                                        <button class="layui-btn od-green-button" type="submit" lay-submit
                                                lay-filter="reset">保存设置
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    layui.use(['layer', 'upload', 'form'], function () {
        var layer = layui.layer;
        var upload = layui.upload;
        var form = layui.form;
        var $ = layui.$;

        form.on('submit(reset)', function (data) {
            layer.load();
            $.ajax({
                url: '/account/doReset',
                type: 'post',
                data: data.field,
                success: function (res) {
                    layer.closeAll('loading');
                    if (res.code === 200) {
                        layui.data('password', null);
                        layer.msg('保存成功', {icon: 1, time: 500}, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 1000});
                    }
                }
            });
            return false;
        });

        upload.render({
            elem: '#setting-avatar',
            url: '/account/avatar',
            size: 2048,
            done: function (res) {
                if (res.code === 200) {
                    $('#user-avatar').attr('src', res.data.url);
                } else {
                    layer.msg(res.msg);
                }
            },
            error: function () {
                layer.msg('上传失败');
            }
        });
    });
</script>
{/block}
