{extend name="base" /}

{block name="body"}
<div class="layui-container">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md9 layui-col-lg9">
            <div class="profile-head">
                <div class="ph-bg">
                    <img id="user-banner" decoding="async" class="j-lazy" src="{$user.banner}"
                         alt="{$user.nickname}" img-loaded="true">
                </div>
                <div class="ph-inner">
                    <div class="ph-user">
                        <div class="ph-avatar">
                            <img alt="{$user.nickname}的头像" src="{$user.avatar}"
                                 class="avatar avatar-200 photo j-lazy" height="200" width="200" img-loaded="true">
                            <span class="edit-avatar" data-user="{$user.id}">
                                    <i class="layui-icon layui-icon-camera"></i>
                                </span></div>
                        <h2 class="ph-name">{$user.nickname}<span class="user-group">{$user.group}</span></h2>
                        <div class="ph-desc">{$user.desc}</div>
                        <div class="profile-stats">
                            <div class="profile-stats-inner">
                                <div class="user-stats-item">
                                    <b>{$user.article_num}</b>
                                    <span>文章</span>
                                </div>
                                <div class="user-stats-item">
                                    <b>{$user.comment_num}</b>
                                    <span>评论</span>
                                </div>
                                <div class="user-stats-item">
                                    <b>{$user.fans_num}</b>
                                    <span>粉丝</span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="layui-btn layui-btn-xs user-action-button"
                                data-id="{$user.id}" lay-on="follow">
                            {if $user['is_follow']}
                            已关注
                            {else /}
                            <i class="layui-icon layui-icon-addition"></i>关注
                            {/if}
                        </button>
                        <button type="button" class="layui-btn layui-btn-xs user-action-button"
                                data-id="{$user.id}" lay-on="message">
                            <i class="layui-icon layui-icon-email"></i>私信
                        </button>
                    </div>
                    {if isset($blog_user['id']) && $blog_user['id'] == $user['id'] }
                    <div id="setting-banner" class="profile-action" data-id="{$user.id}" lay-on="banner">
                        <span class="profile-setcover edit-cover">
                            <i class="layui-icon layui-icon-camera wi"></i>
                            修改封面
                        </span>
                    </div>
                    {/if}
                </div>
            </div>
            <ul class="profile-nav">
                <li><a href="/user/{$id}">文章</a></li>
                <li><a href="/user/comment/{$id}">评论</a></li>
                <li class="active"><a>关注</a></li>
                <li><a href="/user/favorite/{$id}">收藏</a></li>
            </ul>
            <div class="profile-main profile-follows">
                <div class="profile-tab" data-user="33461">
                    <div id="follow-action" class="profile-tab-item active">Ta关注的人</div>
                    <div id="fans-action" class="profile-tab-item">关注Ta的人</div>
                </div>
                <div id="follow-list" class="profile-tab-content active">
                    <div class="profile-no-content follow-items-loading">
                        <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
                        加载中…
                    </div>
                    <!--                    <div class="profile-no-content">-->
                    <!--                        <img decoding="async" class="empty-icon j-lazy" src="__IMG__/empty/empty-follow.svg">-->
                    <!--                        该用户还没有关注任何用户。-->
                    <!--                    </div>-->
                </div>
                <div id="fans-list" class="profile-tab-content">
                    <div class="profile-no-content follow-items-loading">
                        <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>加载中…
                    </div>
                    <ul class="follow-items" style="display: none;"></ul>
                    <div class="load-more-wrap" style="display: none;">
                        <div class="layui-btn layui-btn-primary layui-border-green green-button j-user-followers">
                            点击查看更多
                        </div>
                    </div>
                    <div class="profile-no-content" style="display: none;">
                        <img decoding="async" class="empty-icon j-lazy" src="__IMG__/empty/empty-follow.svg">
                        该用户还没有被任何粉丝关注。
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md3 layui-col-lg3 layui-hide layui-show-md-block">
            <div class="sidebar">
                {include file="widget/search" /}
                {include file="widget/recommend" /}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    layui.use(['layer', 'util', 'upload'], function () {
        var layer = layui.layer;
        var upload = layui.upload;
        var util = layui.util;
        var $ = layui.$;
        let uid = '{$blog_user["id"]|default=""}';
        let get_follow = 0;
        let get_fans = 0;

        upload.render({
            elem: '#setting-banner',
            url: '/user/banner',
            size: 2048,
            done: function (res) {
                if (res.code === 200) {
                    $('#user-banner').attr('src', res.data.url);
                } else {
                    layer.msg(res.msg);
                }
            },
            error: function () {
                layer.msg('上传失败');
            }
        });

        util.on('lay-on', {
            'follow': function () {
                if (uid) {
                    let that = $(this);
                    let id = that.data('id');
                    if (uid === id.toString()) {
                        layer.msg('不能关注自己', {icon: 2, time: 1000});
                        return false;
                    }
                    let loop = '<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>';
                    that.html(loop + that.text());
                    $.ajax({
                        url: '/user/doFollow',
                        type: 'post',
                        data: {id: id},
                        success: function (res) {
                            if (res.code === 200) {
                                if (res.data.cancel) { //取消关注
                                    that.html('<i class="layui-icon layui-icon-addition"></i>关注');
                                } else { //已关注
                                    that.html('已关注');
                                }
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 1000});
                                that.html('<i class="layui-icon layui-icon-addition"></i>关注');
                            }
                        }
                    });
                } else {
                    needLogin();
                }
            },
            'banner': function () {
                if (uid) {
                    let that = $(this);
                    let id = that.data('id');
                    if (uid !== id.toString()) {
                        layer.msg('无法设置封面', {icon: 2, time: 1000});
                        return false;
                    }
                } else {
                    needLogin();
                }
            }
        });

        $('#follow-action').on('click', function () {
            let that = $(this);
            if (that.hasClass('active')) {
                return false;
            }
            that.toggleClass('active');
            $('#fans-action').toggleClass('active');
            $('#follow-list').toggleClass('active');
            $('#fans-list').toggleClass('active');
            if (!get_follow) {
                getFollow();
            }
        });

        $('#fans-action').on('click', function () {
            let that = $(this);
            if (that.hasClass('active')) {
                return false;
            }
            that.toggleClass('active');
            $('#follow-action').toggleClass('active');
            $('#follow-list').toggleClass('active');
            $('#fans-list').toggleClass('active');
            if (!get_fans) {
                getFans();
            }
        });

        function getFollow() {
            $.ajax({
                url: '/user/getFollow?id={$id}',
                type: 'post',
                data: {},
                success: function (res) {
                    get_follow = 1;
                    let html = '';
                    if (res.data.length) {
                        html = '<ul class="follow-items">';
                        res.data.forEach(function (item) {
                            let str = item.is_follow ? '已关注' : '<i class="layui-icon layui-icon-addition"></i>关注';
                            html += `
                            <li class="follow-item">
                                <div class="follow-item-avatar">
                                    <a href="/user/${item.user.id}" target="_blank">
                                        <img alt="${item.user.nickname}的头像" src="${item.user.avatar}"
                                             class="avatar avatar-120 photo j-lazy" height="120" width="120"
                                             img-loaded="true">
                                    </a>
                                </div>
                                <div class="follow-item-text">
                                    <h2 class="follow-item-name">
                                        <a href="/user/${item.user.id}"
                                           target="_blank">${item.user.nickname}</a></h2>
                                    <div class="follow-item-desc">${item.user.desc}</div>
                                    <div class="follow-item-meta">
                                        <div class="user-stats-item">
                                            <b>${item.user.article_num}</b>
                                            <span>文章</span>
                                        </div>
                                        <div class="user-stats-item">
                                            <b>${item.user.comment_num}</b>
                                            <span>评论</span>
                                        </div>
                                        <div class="user-stats-item">
                                            <b>${item.user.fans_num}</b>
                                            <span>粉丝</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="follow-item-action">
                                    <button type="button" class="layui-btn layui-btn-xs user-action-button"
                                            data-id="${item.user.id}" lay-on="follow">
                                        ${str}
                                    </button>
                                    <button type="button" class="layui-btn layui-btn-xs user-action-button"
                                            data-id="${item.user.id}" lay-on="message">
                                        <i class="layui-icon layui-icon-email"></i>私信
                                    </button>
                                </div>
                            </li>`;
                        });
                        html += '</ul>';
                    } else {
                        html = `<div class="profile-no-content">
                            <img decoding="async" class="empty-icon j-lazy" src="__IMG__/empty/empty-follow.svg">
                            该用户还没有关注任何用户。
                        </div>`;
                    }
                    $('#follow-list').html(html);
                }
            });
        }

        getFollow();

        function getFans() {
            $.ajax({
                url: '/user/getFans?id={$id}',
                type: 'post',
                data: {},
                success: function (res) {
                    get_fans = 1;
                    let html = '';
                    if (res.data.length) {
                        html = '<ul class="follow-items">';
                        res.data.forEach(function (item) {
                            item.user = item.fans;
                            let str = item.is_follow ? '已关注' : '<i class="layui-icon layui-icon-addition"></i>关注';
                            html += `
                            <li class="follow-item">
                                <div class="follow-item-avatar">
                                    <a href="/user/${item.user.id}" target="_blank">
                                        <img alt="${item.user.nickname}的头像" src="${item.user.avatar}"
                                             class="avatar avatar-120 photo j-lazy" height="120" width="120"
                                             img-loaded="true">
                                    </a>
                                </div>
                                <div class="follow-item-text">
                                    <h2 class="follow-item-name">
                                        <a href="/user/${item.user.id}"
                                           target="_blank">${item.user.nickname}</a></h2>
                                    <div class="follow-item-desc">${item.user.desc}</div>
                                    <div class="follow-item-meta">
                                        <div class="user-stats-item">
                                            <b>${item.user.article_num}</b>
                                            <span>文章</span>
                                        </div>
                                        <div class="user-stats-item">
                                            <b>${item.user.comment_num}</b>
                                            <span>评论</span>
                                        </div>
                                        <div class="user-stats-item">
                                            <b>${item.user.fans_num}</b>
                                            <span>粉丝</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="follow-item-action">
                                    <button type="button" class="layui-btn layui-btn-xs user-action-button"
                                            data-id="${item.user.id}" lay-on="follow">
                                        ${str}
                                    </button>
                                    <button type="button" class="layui-btn layui-btn-xs user-action-button"
                                            data-id="${item.user.id}" lay-on="message">
                                        <i class="layui-icon layui-icon-email"></i>私信
                                    </button>
                                </div>
                            </li>`;
                        });
                        html += '</ul>';
                    }  else {
                        html = `<div class="profile-no-content">
                            <img decoding="async" class="empty-icon j-lazy" src="__IMG__/empty/empty-follow.svg">
                            该用户还没有被任何粉丝关注。
                        </div>`;
                    }
                    $('#fans-list').html(html);
                }
            });
        }
    });
</script>
{/block}
