{extend name="base" /}

{block name="body"}
<div class="layui-container">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md9 layui-col-lg9">
            <div class="profile-head">
                <div class="ph-bg">
                    <img id="user-banner" decoding="async" class="j-lazy" src="{$user.banner}"
                         alt="{$user.nickname}" img-loaded="true">
                </div>
                <div class="ph-inner">
                    <div class="ph-user">
                        <div class="ph-avatar">
                            <img alt="{$user.nickname}的头像" src="{$user.avatar}"
                                 class="avatar avatar-200 photo j-lazy" height="200" width="200" img-loaded="true">
                            <span class="edit-avatar" data-user="{$user.id}">
                                    <i class="layui-icon layui-icon-camera"></i>
                                </span></div>
                        <h2 class="ph-name">{$user.nickname}<span class="user-group">{$user.group}</span></h2>
                        <div class="ph-desc">{$user.desc}</div>
                        <div class="profile-stats">
                            <div class="profile-stats-inner">
                                <div class="user-stats-item">
                                    <b>{$user.article_num}</b>
                                    <span>文章</span>
                                </div>
                                <div class="user-stats-item">
                                    <b>{$user.comment_num}</b>
                                    <span>评论</span>
                                </div>
                                <div class="user-stats-item">
                                    <b>{$user.fans_num}</b>
                                    <span>粉丝</span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="layui-btn layui-btn-xs user-action-button"
                                data-id="{$user.id}" lay-on="follow">
                            {if $user['is_follow']}
                            已关注
                            {else /}
                            <i class="layui-icon layui-icon-addition"></i>关注
                            {/if}
                        </button>
                        <button type="button" class="layui-btn layui-btn-xs user-action-button"
                                data-id="{$user.id}" lay-on="message">
                            <i class="layui-icon layui-icon-email"></i>私信
                        </button>
                    </div>
                    {if isset($blog_user['id']) && $blog_user['id'] == $user['id'] }
                    <div id="setting-banner" class="profile-action" lay-on="banner">
                        <span class="profile-setcover edit-cover" data-user="{$user.id}">
                            <i class="layui-icon layui-icon-camera wi"></i>
                            修改封面
                        </span>
                    </div>
                    {/if}
                </div>
            </div>
            <ul class="profile-nav">
                <li class="active"><a>文章</a></li>
                <li><a href="/user/comment/{$id}">评论</a></li>
                <li><a href="/user/follow/{$id}">关注</a></li>
                <li><a href="/user/favorite/{$id}">收藏</a></li>
            </ul>
            <div class="main-list">
                <div class="tab-wrap">
                    <ul class="post-loop" id="flow-manual"></ul>
                    <div class="load-more-wrap"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md3 layui-col-lg3 layui-hide layui-show-md-block">
            <div class="sidebar">
                {include file="widget/search" /}
                {include file="widget/recommend" /}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    layui.use(['layer', 'util', 'upload'], function () {
        var layer = layui.layer;
        var upload = layui.upload;
        var util = layui.util;
        var $ = layui.$;
        var page = 1;
        let uid = '{$blog_user["id"]|default=""}';
        let cid = '{$id}';

        upload.render({
            elem: '#setting-banner',
            url: '/user/banner',
            size: 2048,
            done: function (res) {
                if (res.code === 200) {
                    $('#user-banner').attr('src', res.data.url);
                } else {
                    layer.msg(res.msg);
                }
            },
            error: function () {
                layer.msg('上传失败');
            }
        });

        util.on('lay-on', {
            'follow': function () {
                if (uid) {
                    if (uid === cid) {
                        layer.msg('不能关注自己', {icon: 2, time: 1000});
                        return false;
                    }
                    let that = $(this);
                    let id = that.data('id');
                    let loop = '<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>';
                    that.html(loop + that.text());
                    $.ajax({
                        url: '/user/doFollow',
                        type: 'post',
                        data: {id: id},
                        success: function (res) {
                            if (res.code === 200) {
                                if (res.data.cancel) { //取消关注
                                    that.html('<i class="layui-icon layui-icon-addition"></i>关注');
                                } else { //已关注
                                    that.html('已关注');
                                }
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 1000});
                                that.html('<i class="layui-icon layui-icon-addition"></i>关注');
                            }
                        }
                    });
                } else {
                    needLogin();
                }
            },
            'banner': function () {
                if (uid) {
                    if (uid !== cid) {
                        layer.msg('无法设置封面', {icon: 2, time: 1000});
                        return false;
                    }
                } else {
                    needLogin();
                }
            },
            'load-more': function () {
                getArticle();
            }
        });

        function getArticle() {
            let loop = '<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>点击查看更多';
            $('div[lay-on="load-more"]').html(loop);
            $.ajax({
                url: '/user/getArticle?id={$id}',
                type: 'post',
                data: {
                    page: page,
                },
                success: function (res) {
                    let html = '';
                    res.data.data.forEach(function (item) {
                        let categoryStr = '';
                        if (item.category) {
                            categoryStr = `
                                <a class="item-category" href="/category/${item.category.id}" target="_blank">
                                    ${item.category.name}
                                </a>`;
                        }
                        html += `
                        <li class="item">
                            <div class="item-img">
                                <a class="item-img-inner" href="/post/${item.id}" target="_blank" rel="bookmark">
                                    <img width="480" height="300" src="${item.thumbnail}"
                                         class="attachment-default size-default wp-post-image j-lazy"
                                         alt="${item.title}" decoding="async" fetchpriority="high" img-loaded="true">
                                </a>
                                ${categoryStr}
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="/post/${item.id}" target="_blank" rel="bookmark">
                                        ${item.title}
                                    </a>
                                </h3>
                                <div class="item-excerpt">
                                    <p>${item.summary}</p>
                                </div>
                                <div class="item-meta">
                                    <div class="item-meta-li author">
                                        <a target="_blank" href="/user/${item.user_id}" class="avatar j-user-card">
                                            <img alt="${item.user?.name}的头像"
                                                 src="${item.user?.avatar}"
                                                 class="avatar avatar-60 photo" height="60" width="60">
                                            <span>${item.user?.nickname}</span>
                                        </a>
                                    </div>
                                    <span class="item-meta-li date">${item.created_at}</span>
                                    <div class="item-meta-right">
                                        <span class="item-meta-li views" title="阅读数">
                                            <i class="layui-icon layui-icon-eye wi"></i>${item.read_num}
                                        </span>
                                        <span class="item-meta-li comments" title="评论数">
                                            <i class="layui-icon layui-icon-dialogue wi"></i>${item.reply_num}
                                        </span>
                                        <span class="item-meta-li stars" title="收藏数">
                                            <i class="layui-icon layui-icon-star wi"></i>${item.favorite_num}
                                        </span>
                                        <span class="item-meta-li likes" title="点赞数">
                                            <i class="layui-icon layui-icon-praise wi"></i>${item.like_num}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>`;
                    });
                    $('#flow-manual').append(html);

                    // 查看更多
                    let more = `
                        <div class="layui-btn layui-btn-primary layui-border-green green-button" lay-on="load-more">
                            点击查看更多
                        </div>`;
                    let notMore = '已经到底了';
                    if (page >= res.data.last_page) {
                        more = `<div class="layui-btn layui-btn-primary layui-btn-disabled" data-exclude="">${notMore}</div>`;
                    }
                    if (page === 1 && html === '') {
                        more = `<div class="profile-main profile-posts">
                                <div class="profile-no-content">
                                    <img decoding="async" class="empty-icon j-lazy"
                                         src="__IMG__/empty/empty-post.svg">你还没有发布任何文章。
                                </div>
                            </div>`;
                    }
                    $('.load-more-wrap').html(more);
                    page += 1;
                }
            });
        }

        getArticle();
    });
</script>
{/block}
