{extend name="base" /}

{block name="body"}
<div class="layui-container">
    <div class="breadcrumb">
            <span class="layui-breadcrumb" lay-separator=">">
                <a href="/">首页</a>
                <a><cite>专题列表</cite></a>
            </span>
    </div>
    <div class="banner banner-2">
        <div class="banner-inner container-fluid">
            <h1>专题列表</h1>
            <div class="page-description">
                <p>更多的言论表达和思想沟通，更快、更直接的对整个世界的宏观把控</p>
            </div>
        </div>
    </div>
    <div class="special-wrap">
        <div class="special-list row layui-row layui-col-space20">
            {notempty name="$data"}
            {foreach $data as $vo }
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 layui-col-lg6 layui-col-xl6">
                <div class="special-item">
                    <div class="special-item-top">
                        <div class="special-item-thumb">
                            <a href="/special/{$vo['id']}"
                               target="_blank">
                                <img class="j-lazy" src="{$vo['thumbnail']}" alt="{$vo['name']}" img-loaded="true">
                            </a>
                        </div>
                        <div class="special-item-info">
                            <div class="special-item-title">
                                <h2>
                                    <a href="/special/{$vo['id']}" target="_blank">{$vo['name']}</a>
                                </h2>
                                <a class="special-item-more" href="/special/{$vo['id']}">
                                    进入专题
                                    <i class="layui-icon layui-icon-right wi"></i>
                                </a>
                            </div>
                            <div class="special-item-desc">
                                <p>{$vo['desc']}</p>
                            </div>
                            <div class="special-item-meta">
                                <span class="special-item-count">{$vo['count']}篇文章</span>
                                <div class="special-item-share">
                                    <span class="hidden-xs">分享到: </span>
                                    <a class="share-icon wechat hidden-xs" target="" data-share="wechat"
                                       data-share-callback="zt_share" rel="noopener" href="javascript:">
                                        <i class="layui-icon layui-icon-login-wechat"></i>
                                        <span class="share-wx-wrap">
                                            <span class="j-share-qrcode">
                                                <canvas width="256" height="256"></canvas>
                                            </span>
                                            <span>微信扫码分享</span>
                                        </span>
                                    </a>
                                    <a class="share-icon weibo hidden-xs" target="_blank" data-share="weibo"
                                       data-share-callback="zt_share" rel="noopener" href="">
                                        <i class="layui-icon layui-icon-login-weibo"></i>
                                    </a>
                                    <a class="share-icon qq hidden-xs" target="_blank" data-share="qq"
                                       data-share-callback="zt_share" rel="noopener" href="">
                                        <i class="layui-icon layui-icon-login-qq"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="special-item-bottom">
                        {foreach $vo['article'] as $v }
                        <li>
                            <a title="{$v['title']}" href="/post/{$v['id']}" target="_blank">
                                {$v['title']}
                            </a>
                        </li>
                        {/foreach}
                        {if count($vo['article']) < 3 }
                        {for start="0" end="3-count($vo['article'])" }
                        <li><a>&nbsp;</a></li>
                        {/for}
                        {/if}
                    </ul>
                </div>
            </div>
            {/foreach}
            {/notempty}
        </div>
    </div>
</div>
{/block}

{block name="script"}

{/block}
