{extend name="base" /}

{block name="body"}
<div class="banner category-banner" style="background-image: url('http://img.wepuzi.com/guest.jpg');">
    <div class="banner-inner">
        <h1>留言板</h1>
        <div class="page-description">
            <p>每每想到你，心中都充满了温暖。这份留言，带着我满满的祝福和思念。愿你的每一天都充满阳光，愿你的每一个梦想都能实现。无论何时，我都在这里等你。</p>
        </div>
    </div>
</div>
<div class="layui-container">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md9 layui-col-lg9">
            <article class="post-1471 post type-post status-publish format-standard
                has-post-thumbnail hentry category-5 special-40 entry">
                <div id="comments" class="entry-comments">
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">发表留言</h3>
                        {if empty($blog_user)}
                        <div class="comment-form">
                            <div class="comment-must-login">请登录后留言...</div>
                            <div class="form-submit">
                                <div class="form-submit-text pull-left"><a
                                    href="/common/login?url=/guest">登录</a>后才能留言
                                </div>
                            </div>
                        </div>
                        {else /}
                        <form id="commentform" class="comment-form layui-form">
                            <div class="comment-form-comment">
                                    <textarea id="comment" name="comment" class="required" lay-verify="required"
                                              lay-reqtext="请填留言内容" rows="4" placeholder="写下你的留言…"></textarea>
                                <div class="comment-form-smile j-smilies show-face" lay-on="smilies">
                                    <i class="layui-icon wi layui-icon-face-smile-b show-face"></i>
                                    <div class="smilies-box show-face">
                                        <div class="smilies-item" data-name="[微笑]" title="微笑"><img
                                            src="__IMG__/smilies/weixiao.svg"
                                            alt="[微笑]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[咧嘴笑]" title="咧嘴笑"><img
                                            src="__IMG__/smilies/liezuixiao.svg"
                                            alt="[咧嘴笑]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[大笑]" title="大笑"><img
                                            src="__IMG__/smilies/daxiao.svg"
                                            alt="[大笑]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[偷笑]" title="偷笑"><img
                                            src="__IMG__/smilies/touxiao.svg"
                                            alt="[偷笑]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[调皮]" title="调皮"><img
                                            src="__IMG__/smilies/tiaopi.svg"
                                            alt="[调皮]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[笑哭]" title="笑哭"><img
                                            src="__IMG__/smilies/xiaoku.svg"
                                            alt="[笑哭]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[嘿嘿]" title="嘿嘿"><img
                                            src="__IMG__/smilies/heihei.svg"
                                            alt="[嘿嘿]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[可爱]" title="可爱"><img
                                            src="__IMG__/smilies/keai.svg"
                                            alt="[可爱]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[瞪眼]" title="瞪眼"><img
                                            src="__IMG__/smilies/dengyan.svg"
                                            alt="[瞪眼]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[亲亲]" title="亲亲"><img
                                            src="__IMG__/smilies/qinqin.svg"
                                            alt="[亲亲]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[色]" title="色"><img
                                            src="__IMG__/smilies/se.svg"
                                            alt="[色]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[酷]" title="酷"><img
                                            src="__IMG__/smilies/ku.svg"
                                            alt="[酷]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[翻白眼]" title="翻白眼"><img
                                            src="__IMG__/smilies/fanbaiyan.svg"
                                            alt="[翻白眼]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[汗]" title="汗"><img
                                            src="__IMG__/smilies/han.svg"
                                            alt="[汗]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[大哭]" title="大哭"><img
                                            src="__IMG__/smilies/daku.svg"
                                            alt="[大哭]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[困]" title="困"><img
                                            src="__IMG__/smilies/kun.svg"
                                            alt="[困]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[难过]" title="难过"><img
                                            src="__IMG__/smilies/nanguo.svg"
                                            alt="[难过]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[生气]" title="生气"><img
                                            src="__IMG__/smilies/shengqi.svg"
                                            alt="[生气]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[庆祝]" title="庆祝"><img
                                            src="__IMG__/smilies/qingzhu.svg"
                                            alt="[庆祝]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[赞]" title="赞"><img
                                            src="__IMG__/smilies/zan.svg"
                                            alt="[赞]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[礼物]" title="礼物"><img
                                            src="__IMG__/smilies/liwu.svg"
                                            alt="[礼物]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[爱心]" title="爱心"><img
                                            src="__IMG__/smilies/aixin.svg"
                                            alt="[爱心]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[喝彩]" title="喝彩"><img
                                            src="__IMG__/smilies/hecai.svg"
                                            alt="[喝彩]" img-loaded="true"></div>
                                        <div class="smilies-item" data-name="[花]" title="花"><img
                                            src="__IMG__/smilies/hua.svg"
                                            alt="[花]" img-loaded="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-submit">
                                <div class="pull-left form-submit-text">
                                    <img alt="{$blog_user.nickname}的头像" src="{$blog_user.avatar}"
                                         class="avatar avatar-60 photo" height="60" width="60">
                                    <span>{$blog_user.nickname}</span>
                                </div>
                                <button class="layui-btn layui-btn-xs user-action-button submit" type="submit"
                                        id="submit" lay-submit lay-filter="post-comment">提交
                                </button>
                            </div>
                        </form>
                        {/if}
                    </div>
                    <h3 class="comments-title">留言列表（{$total}条）</h3>
                    <ul class="comments-list">
                        {foreach $guest['data'] as $key => $vo }
                        <li class="comment byuser odd alt thread-even depth-1 parent" id="comment-{$vo['id']}">
                            <div id="div-comment-{$vo['id']}" class="comment-inner">
                                <div class="comment-author vcard">
                                    <img alt="{$vo['user']['nickname']}的头像" src="{$vo['user']['avatar']}"
                                         class="avatar avatar-60 photo" height="60" width="60"></div>
                                <div class="comment-body">
                                    <div class="nickname">
                                        <a class="j-user-card" data-user="{$vo['user']['id']}"
                                           href="/user/{$vo['user']['id']}"
                                           target="_blank">{$vo['user']['nickname']}</a> <span
                                        class="comment-time">{$vo['created_at']}</span>
                                    </div>
                                    <div class="comment-text">
                                        <p class="comment-content">
                                            {$vo['content']}
                                        </p>
                                    </div>
                                </div>
                                <div class="reply">
                                    <a rel="nofollow" class="comment-reply-link" href="#respond"
                                       data-commentid="{$vo['id']}" data-postid="0"
                                       data-belowelement="div-comment-{$vo['id']}"
                                       data-respondelement="respond" data-replyto="回复给  {$vo['user']['nickname']}"
                                       aria-label="回复给  {$vo['user']['nickname']}">
                                        <i class="layui-icon layui-icon-reply-fill wi"></i>
                                        <span>回复</span>
                                    </a>
                                </div>
                            </div>
                            {notempty name="$vo['reply']"}
                            <ul class="comment-children">
                                {foreach $vo['reply'] as $k => $v }
                                <li class="comment byuser even depth-{:intval($k + 2)}" id="comment-{$v['id']}">
                                    <div id="div-comment-{$v['id']}" class="comment-inner">
                                        <div class="comment-author vcard">
                                            <img alt="{$v['user']['nickname']}的头像" src="{$v['user']['avatar']}"
                                                 class="avatar avatar-60 photo" height="60" width="60"></div>
                                        <div class="comment-body">
                                            <div class="nickname">
                                                <a class="j-user-card" data-user="{$v['user']['id']}"
                                                   href="/user/{$v['user']['id']}" target="_blank">
                                                    {$v['user']['nickname']}
                                                </a>
                                                <span class="comment-time">{$v['created_at']}</span>
                                            </div>
                                            <div class="comment-text">
                                                <p><span class="comment-text-reply">
                                                    <a class="j-user-card" data-user="{$vo['user']['id']}"
                                                       href="/user/{$vo['user']['id']}" target="_blank">
                                                        @{$vo['user']['nickname']}
                                                    </a>：</span>
                                                    <span class="comment-content">{$v['content']}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="reply">
                                            <a rel="nofollow" class="comment-reply-link" href="#respond"
                                               data-commentid="{$v['id']}" data-postid="0"
                                               data-belowelement="div-comment-{$v['id']}" data-respondelement="respond"
                                               data-replyto="回复给  {$v['user']['nickname']}"
                                               aria-label="回复给  {$v['user']['nickname']}">
                                                <i class="layui-icon layui-icon-reply-fill wi"></i>
                                                <span>回复</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {/foreach}
                            </ul>
                            {/notempty}
                        </li>
                        {/foreach}
                    </ul>

                    {notempty name="$guest['data']"}
                    <div id="guest-comment-page"></div>
                    <ul class="pagination" style="display: none;">
                        <li class="prev">
                            <a class="prev page-numbers" href="?page=1#comments">
                                <span>上一页</span>
                            </a>
                        </li>
                        <li class="active">
                            <span aria-current="page" class="page-numbers current">1</span>
                        </li>
                        <li>
                            <a class="page-numbers" href="?page=2#comments">2</a>
                        </li>
                        <li>
                            <a class="page-numbers" href="?page=3#comments">3</a>
                        </li>
                        <li class="next">
                            <a class="next page-numbers" href="?page=2#comments">
                                <span>下一页</span>
                            </a>
                        </li>
                    </ul>
                    {/notempty}
                </div>
            </article>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md3 layui-col-lg3 layui-hide layui-show-md-block">
            <div class="sidebar">
                {include file="widget/search" /}
                {include file="widget/profile" /}
                {include file="widget/recommend" /}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}

<script>
    layui.use(['layer', 'util', 'form', 'laypage'], function () {
        var laypage = layui.laypage;
        var layer = layui.layer;
        var util = layui.util;
        var form = layui.form;
        var $ = layui.$;

        $('.comment-content').each(function(index, element) {
            $(element).html(replaceEmoticons($(element).html()));
        });

        form.on('submit(post-comment)', function (data) {
            layer.load();
            $.ajax({
                url: '/guest/doComment',
                type: 'post',
                data: data.field,
                success: function (res) {
                    layer.closeAll('loading');
                    if (res.code === 200) {
                        layer.msg('留言成功', {icon: 1, time: 500}, function () {
                            location.href = '/guest';
                        });
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 1000});
                    }
                }
            });
            return false;
        });

        laypage.render({
            elem: 'guest-comment-page',
            count: {$guest['total']},
            curr: {$page},
            limit: 10,
            prev: '<em><</em>',
            next: '<em>></em>',
            jump: function (obj, first) {
                if (!first) {
                    location.href = '/guest?page=' + obj.curr + '#comments';
                }
            }
        });

        $(document).on('click', function (event) {
            let evt = event.srcElement ? event.srcElement : event.target;
            if (evt.classList.contains('show-face'))
                return false;
            else {
                $('.smilies-box').removeClass('active');
            }
        });

        $('.smilies-item').on('click', function (event) {
            let comment = $('#comment');
            comment.val(comment.val() + $(this).data('name'));
            return false;
        });

        $('.comment-must-login').on('click', function (event) {
            needLogin();
        });

        util.on('lay-on', {
            'smilies': function () {
                $('.smilies-box').toggleClass('active');
            },
        });

    });
</script>
{/block}
