<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico"/>
    <title>若羽博客</title>
    <link rel="stylesheet" href="__JS__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/style.css">
</head>
<body class="body-boxed">
<header class="header">
    <div class="layui-container">
        <div class="logo">
            <img class="logo-img" src="__IMG__/logo.png" alt=""/>
            <div class="logo-title">若羽博客</div>
        </div>
        <div class="menu-block">
            <div class="navbar-toggle" lay-on="menu-offset">
                <span class="icon-bar icon-bar-1"></span>
                <span class="icon-bar icon-bar-2"></span>
                <span class="icon-bar icon-bar-3"></span>
            </div>
            <ul class="layui-nav layui-bg-gray menu-list">
                <li class="layui-nav-item layui-this">
                    <a href="/">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/index/search">工作</a>
                </li>
                <li class="layui-nav-item dropdown">
                    <a href="/index/category">学习</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">产品经理</a></dd>
                        <dd><a href="">前端设计</a></dd>
                        <dd><a href="">后端开发</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item dropdown">
                    <a href="/index/category">生活</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">摄影</a></dd>
                        <dd><a href="">游戏</a></dd>
                        <dd><a href="">旅游</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/index/special">专题列表</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/index/tags">标签归档</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/guest">留言板</a>
                </li>
                <li class="layui-nav-item myself-message" lay-unselect>
                    <a class="username" href="/index/user">OpenDark</a>
                </li>
                <li class="layui-nav-item myself-action" lay-unselect>
                    <a href="javascript:;">
                        <img src="/avatar/0.jpg" class="layui-nav-img">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/index/user">个人中心</a></dd>
                        <dd><a href="/account">账号设置</a></dd>
                        <dd><a href="/draft">我要投稿</a></dd>
                        <hr>
                        <dd style="text-align: center;"><a href="/common/login">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="body">
    <div class="banner category-banner"
         style="background-image: url('https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/05/ux.png');">
        <div class="banner-inner">
            <h1>产品经理</h1>
            <div class="page-description">
                <p>产品经理负责调查并根据用户的需求，确定开发何种产品，选择何种技术、商业模式等。</p>
            </div>
        </div>
    </div>
    <div class="layui-container">
        <div class="breadcrumb">
            <span class="layui-breadcrumb" lay-separator=">">
                <a href="">首页</a>
                <a href="">国际新闻</a>
                <a href="">亚太地区</a>
                <a><cite>正文</cite></a>
            </span>
        </div>
        <div class="layui-row layui-col-space20">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md9 layui-col-lg9">

            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md3 layui-col-lg3 layui-hide layui-show-md-block">
                <div class="sidebar">
<!--                    <div class="widget widget_image_myimg">-->
<!--                        <a href="https://www.wpcom.cn/" target="_blank" rel="noopener">-->
<!--                            <img class="j-lazy"-->
<!--                                 src="//demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2021/03/2021032602420738.jpg?imageMogr2/format/webp"-->
<!--                                 data-original="//demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2021/03/2021032602420738.jpg"-->
<!--                                 alt="WPCOM主题" img-loaded="true">-->
<!--                        </a>-->
<!--                    </div>-->
                    <div class="widget widget_search">
                        <div class="search-bar">
                            <div class="layui-input-wrap">
                                <input type="text" placeholder="输入关键词搜索..." class="layui-input">
                                <div class="layui-input-suffix">
                                    <i class="layui-icon layui-icon-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget_profile">
                        <div class="profile-cover">
                            <img class="j-lazy"
                                 src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2021/03/anthony-delanoix-urUdKCxsTUI-unsplash-1.jpg"
                                 data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2021/03/anthony-delanoix-urUdKCxsTUI-unsplash-1.jpg"
                                 alt="OpenDark" img-loaded="true"></div>
                        <div class="avatar-wrap">
                            <a target="_blank" href="https://demo.wpcom.cn/justnews/user/1" class="avatar-link"><img
                                alt="OpenDark的头像"
                                src="/avatar/0.jpg"
                                class="avatar avatar-120 photo" height="120" width="120"></a></div>
                        <div class="profile-info">
                            <a target="_blank" href="https://demo.wpcom.cn/justnews/user/1" class="profile-name"><span
                                class="author-name">OpenDark</span><span class="user-group">管理团队</span></a>
                            <p class="author-description">Enjoy coding, enjoy life!</p>
                            <div class="profile-stats">
                                <div class="profile-stats-inner">
                                    <div class="user-stats-item">
                                        <b>26</b>
                                        <span>文章</span>
                                    </div>
                                    <div class="user-stats-item">
                                        <b>4</b>
                                        <span>评论</span>
                                    </div>
                                    <div class="user-stats-item">
                                        <b>198</b>
                                        <span>粉丝</span>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="layui-btn layui-btn-xs user-action-button">
                                <i class="layui-icon layui-icon-addition"></i>关注
                            </button>
                            <button type="button" class="layui-btn layui-btn-xs user-action-button">
                                <i class="layui-icon layui-icon-email"></i>私信
                            </button>
                        </div>
                        <div class="profile-posts">
                            <h3 class="widget-title"><span>最近文章</span></h3>
                            <ul>
                                <li><a href="https://demo.wpcom.cn/justnews/1471.html" title="3秒拆装的“斗子车”：比自行车还灵活">3秒拆装的“斗子车”：比自行车还灵活</a>
                                </li>
                                <li><a href="https://demo.wpcom.cn/justnews/376.html"
                                       title="京东无人机可把一吨货物送到偏远农村，未来要覆盖中国10个省份">京东无人机可把一吨货物送到偏远农村，未来要覆盖中国10个省份</a></li>
                                <li><a href="https://demo.wpcom.cn/justnews/223.html" title="第一次负责从0到1的产品时要注意哪几点？">第一次负责从0到1的产品时要注意哪几点？</a>
                                </li>
                                <li><a href="https://demo.wpcom.cn/justnews/242.html" title="星巴克限量版独角兽星冰乐的背后：摸索如何不平庸">星巴克限量版独角兽星冰乐的背后：摸索如何不平庸</a>
                                </li>
                                <li><a href="https://demo.wpcom.cn/justnews/231.html" title="网易精品产品背后的内容运营故事">网易精品产品背后的内容运营故事</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget_post_hot">
                        <h3 class="widget-title">
                            <span>热门推荐</span>
                        </h3>
                        <ul>
                            <li class="item scale-image">
                                <div class="item-img">
                                    <a class="item-img-inner" href="https://demo.wpcom.cn/justnews/364.html"
                                       title="Google推出了首个全功能自动驾驶汽车原型">
                                        <img width="480" height="300"
                                             src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/06/chris-boyd-O2g8HCgDN8o-unsplash-480x300.jpg?imageMogr2/format/webp"
                                             class="attachment-default size-default wp-post-image j-lazy"
                                             alt="Google推出了首个全功能自动驾驶汽车原型" decoding="async"
                                             data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/06/chris-boyd-O2g8HCgDN8o-unsplash-480x300.jpg"
                                             img-loaded="true"> </a>
                                </div>
                                <div class="item-content">
                                    <div class="item-hot">
                                        <i class="layui-icon layui-icon-fire wi"></i>
                                        290.8K
                                    </div>
                                    <p class="item-title">
                                        <a href="https://demo.wpcom.cn/justnews/364.html"
                                           title="Google推出了首个全功能自动驾驶汽车原型">
                                            Google推出了首个全功能自动驾驶汽车原型
                                        </a>
                                    </p>
                                </div>
                            </li>
                            <li class="item scale-image">
                                <div class="item-img">
                                    <a class="item-img-inner" href="https://demo.wpcom.cn/justnews/242.html"
                                       title="星巴克限量版独角兽星冰乐的背后：摸索如何不平庸">
                                        <img width="480" height="300"
                                             src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/04/hanna-balan-NCdlmw4tOo-unsplash-480x300.jpg?imageMogr2/format/webp"
                                             class="attachment-default size-default wp-post-image j-lazy"
                                             alt="星巴克限量版独角兽星冰乐的背后：摸索如何不平庸" decoding="async"
                                             data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/04/hanna-balan-NCdlmw4tOo-unsplash-480x300.jpg"
                                             img-loaded="true"> </a>
                                </div>
                                <div class="item-content">
                                    <p class="item-title"><a href="https://demo.wpcom.cn/justnews/242.html"
                                                             title="星巴克限量版独角兽星冰乐的背后：摸索如何不平庸">星巴克限量版独角兽星冰乐的背后：摸索如何不平庸</a>
                                    </p>
                                    <div class="item-hot">
                                        <i class="layui-icon layui-icon-fire wi"></i>52.6K
                                    </div>
                                </div>
                            </li>
                            <li class="item scale-image">
                                <div class="item-img item-video scale-image">
                                    <a class="item-img-inner" href="https://demo.wpcom.cn/justnews/1471.html"
                                       title="3秒拆装的“斗子车”：比自行车还灵活">
                                        <img width="480" height="300"
                                             src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2018/12/2021032610075598-480x300.jpg?imageMogr2/format/webp"
                                             class="attachment-default size-default wp-post-image j-lazy"
                                             alt="3秒拆装的“斗子车”：比自行车还灵活" decoding="async"
                                             data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2018/12/2021032610075598-480x300.jpg"
                                             img-loaded="true"> </a>
                                </div>
                                <div class="item-content">
                                    <p class="item-title">
                                        <a href="https://demo.wpcom.cn/justnews/1471.html"
                                           title="3秒拆装的“斗子车”：比自行车还灵活">
                                            3秒拆装的“斗子车”：比自行车还灵活
                                        </a>
                                    </p>
                                    <div class="item-hot">
                                        <i class="layui-icon layui-icon-fire wi"></i>36.1K
                                    </div>
                                </div>
                            </li>
                            <li class="item scale-image">
                                <div class="item-img">
                                    <a class="item-img-inner" href="https://demo.wpcom.cn/justnews/856.html"
                                       title="卖掉公司后，创业者还要战胜这七大心魔">
                                        <img width="480" height="300"
                                             src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2021/04/cristina-gottardi-7mfZZ8kOUTk-480x300.jpg?imageMogr2/format/webp"
                                             class="attachment-default size-default wp-post-image j-lazy"
                                             alt="卖掉公司后，创业者还要战胜这七大心魔" decoding="async"
                                             data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2021/04/cristina-gottardi-7mfZZ8kOUTk-480x300.jpg"
                                             img-loaded="true"> </a>
                                </div>
                                <div class="item-content">
                                    <p class="item-title">
                                        <a href="https://demo.wpcom.cn/justnews/856.html"
                                           title="卖掉公司后，创业者还要战胜这七大心魔">
                                            卖掉公司后，创业者还要战胜这七大心魔
                                        </a>
                                    </p>
                                    <div class="item-hot"><i class="layui-icon layui-icon-fire wi"></i>
                                        35.4K
                                    </div>
                                </div>
                            </li>
                            <li class="item scale-image">
                                <div class="item-img">
                                    <a class="item-img-inner" href="https://demo.wpcom.cn/justnews/855.html"
                                       title="产品经理不香了：面试造飞机，进来拧螺丝">
                                        <img width="480" height="300"
                                             src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2018/06/glenn-claire-YzFT09xAoho-480x300.jpg?imageMogr2/format/webp"
                                             class="attachment-default size-default wp-post-image j-lazy"
                                             alt="产品经理不香了：面试造飞机，进来拧螺丝" decoding="async"
                                             data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2018/06/glenn-claire-YzFT09xAoho-480x300.jpg"
                                             img-loaded="true"> </a>
                                </div>
                                <div class="item-content">
                                    <p class="item-title">
                                        <a href="https://demo.wpcom.cn/justnews/855.html"
                                           title="产品经理不香了：面试造飞机，进来拧螺丝">
                                            产品经理不香了：面试造飞机，进来拧螺丝
                                        </a>
                                    </p>
                                    <div class="item-hot">
                                        <i class="layui-icon layui-icon-fire wi"></i>29.2K
                                    </div>
                                </div>
                            </li>
                            <li class="item scale-image">
                                <div class="item-img">
                                    <a class="item-img-inner" href="https://demo.wpcom.cn/justnews/376.html"
                                       title="京东无人机可把一吨货物送到偏远农村，未来要覆盖中国10个省份">
                                        <img width="480" height="300"
                                             src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/06/saffu-KW1UyypxaPs-unsplash-1-480x300.jpg?imageMogr2/format/webp"
                                             class="attachment-default size-default wp-post-image j-lazy"
                                             alt="京东无人机可把一吨货物送到偏远农村，未来要覆盖中国10个省份" decoding="async"
                                             data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/06/saffu-KW1UyypxaPs-unsplash-1-480x300.jpg"
                                             img-loaded="true"> </a>
                                </div>
                                <div class="item-content">
                                    <p class="item-title"><a href="https://demo.wpcom.cn/justnews/376.html"
                                                             title="京东无人机可把一吨货物送到偏远农村，未来要覆盖中国10个省份">京东无人机可把一吨货物送到偏远农村，未来要覆盖中国10个省份</a>
                                    </p>
                                    <div class="item-hot">
                                        <i class="layui-icon layui-icon-fire wi"></i>24.5K
                                    </div>
                                </div>
                            </li>
                            <li class="item scale-image">
                                <div class="item-img">
                                    <a class="item-img-inner" href="https://demo.wpcom.cn/justnews/341.html"
                                       title="今年UX设计的3大预测">
                                        <img width="480" height="300"
                                             src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/11/nordwood-themes-ubIWo074QlU-unsplash-480x300.jpg?imageMogr2/format/webp"
                                             class="attachment-default size-default wp-post-image j-lazy"
                                             alt="今年UX设计的3大预测" decoding="async"
                                             data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/11/nordwood-themes-ubIWo074QlU-unsplash-480x300.jpg"
                                             img-loaded="true"> </a>
                                </div>
                                <div class="item-content">
                                    <p class="item-title"><a href="https://demo.wpcom.cn/justnews/341.html"
                                                             title="今年UX设计的3大预测">今年UX设计的3大预测</a></p>
                                    <div class="item-hot">
                                        <i class="layui-icon layui-icon-fire wi"></i>22.4K
                                    </div>
                                </div>
                            </li>
                            <li class="item scale-image">
                                <div class="item-img">
                                    <a class="item-img-inner" href="https://demo.wpcom.cn/justnews/537.html"
                                       title="哈维：梅西续约巴萨已经完成 巴萨还能踢得更好">
                                        <img width="480" height="300"
                                             src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/11/jeffrey-f-lin-y_7SzG5ohBc-unsplash-480x300.jpg?imageMogr2/format/webp"
                                             class="attachment-default size-default wp-post-image j-lazy"
                                             alt="哈维：梅西续约巴萨已经完成 巴萨还能踢得更好" decoding="async"
                                             data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/11/jeffrey-f-lin-y_7SzG5ohBc-unsplash-480x300.jpg"
                                             img-loaded="true"> </a>
                                </div>
                                <div class="item-content">
                                    <p class="item-title"><a href="https://demo.wpcom.cn/justnews/537.html"
                                                             title="哈维：梅西续约巴萨已经完成 巴萨还能踢得更好">哈维：梅西续约巴萨已经完成 巴萨还能踢得更好</a>
                                    </p>
                                    <div class="item-hot">
                                        <i class="layui-icon layui-icon-fire wi"></i>21.9K
                                    </div>
                                </div>
                            </li>
                            <li class="item scale-image">
                                <div class="item-img">
                                    <a class="item-img-inner" href="https://demo.wpcom.cn/justnews/419.html"
                                       title="羊皮卷之二：我要用全身心的爱来迎接今天">
                                        <img width="480" height="300"
                                             src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/07/mohamed-boumaiza-YbuxMgZ9KUA-unsplash-480x300.jpg?imageMogr2/format/webp"
                                             class="attachment-default size-default wp-post-image j-lazy"
                                             alt="羊皮卷之二：我要用全身心的爱来迎接今天" decoding="async"
                                             data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/07/mohamed-boumaiza-YbuxMgZ9KUA-unsplash-480x300.jpg"
                                             img-loaded="true"> </a>
                                </div>
                                <div class="item-content">
                                    <p class="item-title"><a href="https://demo.wpcom.cn/justnews/419.html"
                                                             title="羊皮卷之二：我要用全身心的爱来迎接今天">羊皮卷之二：我要用全身心的爱来迎接今天</a></p>
                                    <div class="item-hot">
                                        <i class="layui-icon layui-icon-fire wi"></i>20.7K
                                    </div>
                                </div>
                            </li>
                            <li class="item scale-image">
                                <div class="item-img">
                                    <a class="item-img-inner" href="https://demo.wpcom.cn/justnews/353.html"
                                       title="MediaWiki">
                                        <img width="480" height="300"
                                             src="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/05/rahadiansyah-OjC5UkpZrh0-unsplash-480x300.jpg?imageMogr2/format/webp"
                                             class="attachment-default size-default wp-post-image j-lazy"
                                             alt="MediaWiki" decoding="async"
                                             data-original="https://demo.wpcom.cn/justnews/wp-content/uploads/sites/8/2017/05/rahadiansyah-OjC5UkpZrh0-unsplash-480x300.jpg"
                                             img-loaded="true"> </a>
                                </div>
                                <div class="item-content">
                                    <p class="item-title">
                                        <a href="https://demo.wpcom.cn/justnews/353.html" title="MediaWiki">
                                            MediaWiki
                                        </a>
                                    </p>
                                    <div class="item-hot">
                                        <i class="layui-icon layui-icon-fire wi"></i>13.7K
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="layui-container">
        <div class="footer-col-wrap footer-with-logo-icon">
            <div class="footer-col footer-col-copy">
                <ul class="footer-nav hidden-xs">
                    <li id="menu-item-157" class="menu-item menu-item-157"><a
                        href="/index/special">专题列表</a></li>
                    <li id="menu-item-129" class="menu-item menu-item-129"><a
                        href="/index/tags">标签归档</a></li>
                    <li id="menu-item-4252" class="menu-item menu-item-4252"><a
                        href="/guest">留言板</a></li>
                </ul>
                <div class="copyright">
                    <p>
                        Copyright © 2024 OpenDark 版权所有
                        <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow noopener noreferrer">
                            粤ICP备000000000号
                        </a> Powered by
                        <a href="javascript:;" target="_blank" rel="noopener noreferrer">OpenDark</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="navbar-collapse">
    <div class="search-bar search-bar-wrap">
        <div class="layui-input-wrap">
            <input type="text" placeholder="输入关键词搜索..." class="layui-input">
            <div class="layui-input-suffix">
                <i class="layui-icon layui-icon-search"></i>
            </div>
        </div>
    </div>
    <ul class="layui-nav layui-bg-gray layui-nav-tree">
        <li class="layui-nav-item layui-this">
            <a href="/">首页</a>
        </li>
        <li class="layui-nav-item">
            <a href="/index/search">工作</a>
        </li>
        <li class="layui-nav-item dropdown">
            <a href="/index/category">学习</a>
            <dl class="layui-nav-child">
                <dd><a href="">产品经理</a></dd>
                <dd><a href="">前端设计</a></dd>
                <dd><a href="">后端开发</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item dropdown">
            <a href="/index/category">生活</a>
            <dl class="layui-nav-child">
                <dd><a href="">摄影</a></dd>
                <dd><a href="">游戏</a></dd>
                <dd><a href="">旅游</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="/index/special">专题列表</a>
        </li>
        <li class="layui-nav-item">
            <a href="/index/tags">标签归档</a>
        </li>
        <li class="layui-nav-item">
            <a href="/guest">留言板</a>
        </li>
        <li class="layui-nav-item">
            <a class="username" href="/index/user">OpenDark</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="/avatar/0.jpg" class="layui-nav-img">
            </a>
            <dl class="layui-nav-child">
                <dd><a href="/index/user">个人中心</a></dd>
                        <dd><a href="/account">账号设置</a></dd>
                <dd><a href="/draft">我要投稿</a></dd>
                <hr>
                <dd><a href="/common/login">退出登录</a></dd>
            </dl>
        </li>
    </ul>
</div>
<script src="__JS__/layui/layui.js"></script>
<script>
    layui.use(['layer', 'util', 'carousel'], function () {
        var carousel = layui.carousel;
        var layer = layui.layer;
        var util = layui.util;
        var $ = layui.$;

        util.fixbar({
            top: true,
            css: {
                right: 20,
                bottom: 30,
                borderRadius: '5px',
                overflow: 'hidden',
                height: '40px'
            },
            bgcolor: '#16b777',
            click: function (type) {
            }
        });

        carousel.render({
            elem: '#carousel-image-1',
            width: '100%',
            height: '100%',
            interval: 3000
        });

        carousel.render({
            elem: '#carousel-image-slider',
            width: '100%',
            height: '100%',
            interval: 3000
        });


        util.on('lay-on', {
            'menu-offset': function () {
                layer.open({
                    type: 1,
                    title: '&nbsp;',
                    skin: 'layer-direction-left',
                    offset: 'l',
                    anim: 'slideRight',
                    area: ['300px', '100%'],
                    shade: 0.5,
                    shadeClose: true,
                    move: false,
                    id: 'layer-direction-left',
                    content: $('#navbar-collapse')
                });
            }
        });

        // var flow = layui.flow;
        // flow.load({
        //     elem: '#flow-manual',
        //     isAuto: false,
        //     isLazyimg: true,
        //     moreText : '点击查看更多',
        //     end : '--- 这是我的底线 ---',
        //     done: function (page, next) { // 加载下一页
        //         // 模拟插入
        //         setTimeout(function () {
        //             var lis = [];
        //             for (var i = 0; i < 6; i++) {
        //                 lis.push('<li>123456</li>')
        //             }
        //             next(lis.join(''), page < 2); // 假设总页数为 2
        //         }, 100);
        //     }
        // });
    });
</script>
</body>
</html>
