<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico"/>
    <title>若羽博客</title>
    <link rel="stylesheet" href="__JS__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/style.css">
</head>
<body class="body-boxed">
<header class="header">
    <div class="layui-container">
        <div class="logo">
            <img class="logo-img" src="__IMG__/logo.png" alt=""/>
            <div class="logo-title">若羽博客</div>
        </div>
        <div class="menu-block">
            <div class="navbar-toggle" lay-on="menu-offset">
                <span class="icon-bar icon-bar-1"></span>
                <span class="icon-bar icon-bar-2"></span>
                <span class="icon-bar icon-bar-3"></span>
            </div>
            <ul class="layui-nav layui-bg-gray menu-list">
                <li class="layui-nav-item layui-this">
                    <a href="/">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/index/search">工作</a>
                </li>
                <li class="layui-nav-item dropdown">
                    <a href="/index/category">学习</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">产品经理</a></dd>
                        <dd><a href="">前端设计</a></dd>
                        <dd><a href="">后端开发</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item dropdown">
                    <a href="/index/category">生活</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">摄影</a></dd>
                        <dd><a href="">游戏</a></dd>
                        <dd><a href="">旅游</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/index/special">专题列表</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/index/tags">标签归档</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/guest">留言板</a>
                </li>
                <li class="layui-nav-item myself-message" lay-unselect>
                    <a class="username" href="/index/user">OpenDark</a>
                </li>
                <li class="layui-nav-item myself-action" lay-unselect>
                    <a href="javascript:;">
                        <img src="/avatar/0.jpg" class="layui-nav-img">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/index/user">个人中心</a></dd>
                        <dd><a href="/index/account">账号设置</a></dd>
                        <dd><a href="/draft">我要投稿</a></dd>
                        <hr>
                        <dd style="text-align: center;"><a href="/common/login">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="body">
    <div class="layui-container">
        <form method="post" class="post-form layui-form" id="j-form">
            <input type="hidden" id="update_post_nonce" name="update_post_nonce" value="ebf6d13e3a">
            <input type="hidden" name="http_referer" value="/tougao">
            <input type="hidden" name="ID" value="">
            <div class="post-form-main">
                <div class="pf-side-label">
                    <h3><i class="layui-icon layui-icon-file-b wi"></i> 文章内容</h3>
                </div>
                <div class="pf-item">
                    <div class="pf-item-input">
                        <input type="text" class="layui-input" maxlength="200"
                               id="post-title" name="post-title"
                               placeholder="请输入文章标题" value="" autocomplete="off">
                    </div>
                </div>
                <div class="pf-item">
                    <div class="pf-item-input">
                        <textarea id="post-excerpt" name="post-excerpt" class="layui-textarea" rows="3"
                                  placeholder="请输入文章摘要，可选填"></textarea>
                    </div>
                </div>
                <div class="pf-item">
                    <div class="pf-item-input">
                        <div id="post-content-wrap">
                            <textarea class="layui-textarea" rows="20" autocomplete="off" cols="40"
                                      name="post-content" id="editor" aria-hidden="true"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-form-sidebar">
                <div class="pf-submit-wrap">
                    <button type="button" class="layui-btn layui-btn-fluid pf-submit od-green-button">提交发布</button>
                </div>
                <div class="pf-side-item">
                    <div class="pf-side-label">
                        <h3>
                            <i class="layui-icon layui-icon-app wi"></i>分类
                        </h3>
                    </div>
                    <div class="pf-side-input">
                        <div class="pf-cat-inner">
                            <select>
                                <option value="">请选择文章分类</option>
                                <option value="1">创业分享</option>
                                <option value="5">产品设计</option>
                                <option value="6">用户体验</option>
                                <option value="7">行业动态</option>
                            </select>
                        </div>
                        <p class="pf-notice">分类至少选择1个</p>
                    </div>
                </div>
                <div class="pf-side-item">
                    <div class="pf-side-label">
                        <h3>
                            <i class="layui-icon layui-icon-note wi"></i>标签
                        </h3>
                    </div>
                    <div class="pf-side-input">
                        <div class="tagHandler">
                            <input type="text" class="layui-input" name="post-tag"
                                   placeholder="请输入文章标签" autocomplete="off">
                        </div>
                        <p class="pf-notice">使用空格或逗号隔开，可选填</p>
                    </div>
                </div>
                <div class="pf-side-item">
                    <div class="pf-side-label">
                        <h3>
                            <i class="layui-icon layui-icon-picture wi"></i>缩略图
                        </h3>
                    </div>
                    <div class="pf-side-input">
                        <div class="layui-upload-drag thumb-wrap" style="display: block;" id="upload-drag">
                            <i class="layui-icon layui-icon-upload-drag"></i>
                            <div>设置缩略图片</div>
                            <div class="layui-hide" id="upload-preview">
                                <hr>
                                <img src="" alt="上传成功后渲染" style="max-width: 100%">
                                <div class="thumb-remove j-thumb-remove"></div>
                            </div>
                        </div>
                        <p class="pf-notice">缩略图会显示在文章列表，建议设置</p>
                    </div>
                    <input type="hidden" name="thumb_id" id="thumb_id" value="">
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="footer">
    <div class="layui-container">
        <div class="footer-col-wrap footer-with-logo-icon">
            <div class="footer-col footer-col-copy">
                <ul class="footer-nav hidden-xs">
                    <li id="menu-item-157" class="menu-item menu-item-157"><a
                        href="/index/special">专题列表</a></li>
                    <li id="menu-item-129" class="menu-item menu-item-129"><a
                        href="/index/tags">标签归档</a></li>
                    <li id="menu-item-4252" class="menu-item menu-item-4252"><a
                        href="/guest">留言板</a></li>
                </ul>
                <div class="copyright">
                    <p>
                        Copyright © 2024 OpenDark 版权所有
                        <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow noopener noreferrer">
                            粤ICP备000000000号
                        </a> Powered by
                        <a href="javascript:;" target="_blank" rel="noopener noreferrer">OpenDark</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="navbar-collapse">
    <div class="search-bar search-bar-wrap">
        <div class="layui-input-wrap">
            <input type="text" placeholder="输入关键词搜索..." class="layui-input">
            <div class="layui-input-suffix">
                <i class="layui-icon layui-icon-search"></i>
            </div>
        </div>
    </div>
    <ul class="layui-nav layui-bg-gray layui-nav-tree">
        <li class="layui-nav-item layui-this">
            <a href="/">首页</a>
        </li>
        <li class="layui-nav-item">
            <a href="/index/search">工作</a>
        </li>
        <li class="layui-nav-item dropdown">
            <a href="/index/category">学习</a>
            <dl class="layui-nav-child">
                <dd><a href="">产品经理</a></dd>
                <dd><a href="">前端设计</a></dd>
                <dd><a href="">后端开发</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item dropdown">
            <a href="/index/category">生活</a>
            <dl class="layui-nav-child">
                <dd><a href="">摄影</a></dd>
                <dd><a href="">游戏</a></dd>
                <dd><a href="">旅游</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="/index/special">专题列表</a>
        </li>
        <li class="layui-nav-item">
            <a href="/index/tags">标签归档</a>
        </li>
        <li class="layui-nav-item">
            <a href="/guest">留言板</a>
        </li>
        <li class="layui-nav-item">
            <a class="username" href="/index/user">OpenDark</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="/avatar/0.jpg" class="layui-nav-img">
            </a>
            <dl class="layui-nav-child">
                <dd><a href="/index/user">个人中心</a></dd>
                        <dd><a href="/index/account">账号设置</a></dd>
                <dd><a href="/draft">我要投稿</a></dd>
                <hr>
                <dd><a href="/common/login">退出登录</a></dd>
            </dl>
        </li>
    </ul>
</div>
<script src="__JS__/layui/layui.js"></script>
<script>
    layui.config({
        base: '__JS__/layui_exts/'
    }).use(['layer', 'util', 'tinymce', 'carousel'], function () {
        var carousel = layui.carousel;
        var upload = layui.upload;
        var layer = layui.layer;
        var util = layui.util;
        var t = layui.tinymce;
        var $ = layui.$;

        // 图片上传
        upload.render({
            elem: '#upload-drag',
            url: '/index/upload',
            size: 2048,
            done: function (res) {
                if (res.code === 0) {
                    $('#upload-preview').removeClass('layui-hide')
                    .find('img').attr('src', res.data);
                    $('#thumb_id').val(res.id);
                } else {
                    layer.msg(res.msg);
                }
            },
            error: function () {
                layer.msg('上传失败');
            }
        });

        // 富文本编辑器
        var edit = t.render({
            elem: "#editor",
            height: 400,
            images_upload_url: '/index/upload',
            form: {
                name: 'file', //配置上传文件的字段名称
                data: {key: 'value'} //其他需要一起上传的数据
            }
            // 其余配置可参考官方文档
        }, function (opt, edit) {
            //加载完成后回调
        });

        util.fixbar({
            top: true,
            css: {
                right: 20,
                bottom: 30,
                borderRadius: '5px',
                overflow: 'hidden',
                height: '40px'
            },
            bgcolor: '#16b777',
            click: function (type) {
            }
        });

        carousel.render({
            elem: '#carousel-image-1',
            width: '100%',
            height: '100%',
            interval: 3000
        });

        carousel.render({
            elem: '#carousel-image-slider',
            width: '100%',
            height: '100%',
            interval: 3000
        });


        util.on('lay-on', {
            'menu-offset': function () {
                layer.open({
                    type: 1,
                    title: '&nbsp;',
                    skin: 'layer-direction-left',
                    offset: 'l',
                    anim: 'slideRight',
                    area: ['300px', '100%'],
                    shade: 0.5,
                    shadeClose: true,
                    move: false,
                    id: 'layer-direction-left',
                    content: $('#navbar-collapse')
                });
            }
        });

        // var flow = layui.flow;
        // flow.load({
        //     elem: '#flow-manual',
        //     isAuto: false,
        //     isLazyimg: true,
        //     moreText : '点击查看更多',
        //     end : '--- 这是我的底线 ---',
        //     done: function (page, next) { // 加载下一页
        //         // 模拟插入
        //         setTimeout(function () {
        //             var lis = [];
        //             for (var i = 0; i < 6; i++) {
        //                 lis.push('<li>123456</li>')
        //             }
        //             next(lis.join(''), page < 2); // 假设总页数为 2
        //         }, 100);
        //     }
        // });
    });
</script>
</body>
</html>
