<div class="widget widget_search">
    <div class="search-bar">
        <div class="layui-input-wrap">
            <input id="searchInput" type="text" placeholder="输入关键词搜索..." class="layui-input">
            <div id="searchBtn" class="layui-input-suffix">
                <i class="layui-icon layui-icon-search"></i>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use([], function () {
        let $ = layui.jquery;

        $('#searchInput').bind('keypress', function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                $("#searchBtn").click();
            }
        });

        $('#searchBtn').on('click', function () {
            let val = $('#searchInput').val();
            if (val !== '') {
                location.href = '/search?s=' + val;
            }
        });

    });
</script>
